adb-shell==0.4.2
asgiref==3.5.2
astroid==2.11.5
autopep8==1.6.0
cffi==1.15.0
charset-normalizer==2.0.12
commonmark==0.9.1
cryptography==37.0.2
dill==0.3.5.1
Django==3.2.13
iOSbackup==0.9.923
isort==5.10.1
lazy-object-proxy==1.7.1
libusb1==3.0.0
mccabe==0.7.0
mvt==1.5.4
mysqlclient==2.1.0
nautilus-terminal==4.0.4
NSKeyedUnArchiver==1.5
pip-check-reqs==2.3.2
pipreqs==0.4.11
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pylint==2.14.1
requests==2.27.1
rich==12.3.0
rsa==4.8
sqlparse==0.4.2
tld==0.12.6
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
tqdm==4.64.0
wrapt==1.14.1
yarg==0.1.9
